* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

html {
	background-color: #303030;
}

.container {
	padding: 20px;
}

.display {
	padding: 30px;
	margin-bottom: 5px;
	background-color: #D3D3D3;
	border: 5px solid #D3D3D3;
	border-radius: 10px;
}

.display:hover {
	background-color: #303030;
	border-color: #AFBBE3;
	transition: 0.4s;
}

.box {
	border: 3px solid lightgrey;
	border-radius: 10px;
	float: left;
	font-size: 40px;
	padding: 20px;
	width: calc(33.8% - 8px);
}

.one, .two, .three, .four, .five, .six, .seven, .eight, .nine {
	color: white;
	text-align: center;
}

/* This is to position the button side by side */
.one, .four, .seven {
	margin-right: 2px;
}

.two, .five, .eight {
	margin: 0 2px;
}

.three, .six, .nine {
	margin-left: 2px;
}

/* To position the buttons under each other */
.four, .five, .six {
	margin-top: 4px;
}

.seven, .eight, .nine {
	margin-top: 4px;
}

.one:hover {
	background-color: #AFBBE3;
	border-color: #AFBBE3;
	color: #303030;
	transition: 0.4s;
}

.two:hover {
	background-color: #AFBBE3;
	border-color: #AFBBE3;
	color: #303030;
	transition: 0.4s;
}

.three:hover {
	background-color: #AFBBE3;
	border-color: #AFBBE3;
	color: #303030;
	transition: 0.4s;
}

.four:hover {
	background-color: #AFBBE3;
	border-color: #AFBBE3;
	color: #303030;
	transition: 0.4s;
}

.five:hover {
	background-color: #AFBBE3;
	border-color: #AFBBE3;
	color: #303030;
	transition: 0.4s;
}

.six:hover {
	background-color: #AFBBE3;
	border-color: #AFBBE3;
	color: #303030;
	transition: 0.4s;
}

.seven:hover {
	background-color: #AFBBE3;
	border-color: #AFBBE3;
	color: #303030;
	transition: 0.4s;
}

.eight:hover {
	background-color: #AFBBE3;
	border-color: #AFBBE3;
	color: #303030;
	transition: 0.4s;
}

.nine:hover {
	background-color: #AFBBE3;
	border-color: #AFBBE3;
	color: #303030;
	transition: 0.4s;
}

