* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

html {
	background-color: #303030;
}

.container {
	padding: 20px;
}

.display {
	padding: 30px;
	margin-bottom: 5px;
	background-color: #505050;
	border: 5px solid red;
	border-radius: 10px;
}

.row-one {
	
}

/*.row-one::after {
	content: "";
	display: table;
	clear: both;
}
*/
.box {
	border: 3px solid red;
	border-radius: 10px;
	float: left;
	font-size: 40px;
	padding: 20px;
	width: calc(33.8% - 8px);
}

.one, .two, .three, .four, .five, .six, .seven, .eight, .nine {
	color: white;
	text-align: center;
}

.one, .four, .seven {
	margin-right: 2px;
}

.two, .five, .eight {
	margin: 0 2px;
}

.three, .six, .nine {
	margin-left: 2px;
}

.four, .five, .six {
	margin-top: 2px;
}

.seven, .eight, .nine {
	margin-top: 2px;
}
